<h1>User detail</h1>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="assets/defaultuser.jpg">
          </a>
          <div class="media-body">
            <h2 class="media-heading">{{ screenName }}</h2>
            <p><span class="label label-info">888 posts</span>
              <span class="label label-info">300 following</span>
              <span class="label label-warning">150 followers</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span> Unfollow</a>
            </p>
          </div>
        </div>
      </div>
      <div class="well well-sm">
        {{log 'followings count is:' followings.length}}
        <h3> Followings </h3>
        <ul>
          {{#each following in followings}}
          <li>
            followed:{{following.followed.screenName}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <h3> Feed timeline </h3>

      {{log 'post count is:' posts.length}}

      <ul class="list-group">
        {{#each post in posts}}
        <li class="list-group-item">

          <div class="media">
            <div class="media-left">
              <a href="#" >
                <img class="media-object" src="assets/defaultuser.jpg" class="pull-left  media-object">
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading"> user1 -Posted 1 month ago.</h5>
              {{post.content}}
            </div>
          </div>

        </li>
        {{/each}}
      </ul>

    </div>
  </div>
</div>



{{outlet}}
